
@font-face {

	font-family: 'Regular';
	src: url("fonts/Homestead-Regular.ttf");
}

@font-face {

	font-family: 'One';
	src: url("fonts/Homestead-One.ttf");
}

@font-face {

	font-family: 'Two';
	src: url("fonts/Homestead-Two.ttf");
}

@font-face {

	font-family: 'Three';
	src: url("fonts/Homestead-Three.ttf");
}

@font-face {

	font-family: 'Display';
	src: url("fonts/Homestead-Display.ttf");
}

@font-face {

	font-family: 'Inline';
	src: url("fonts/Homestead-Inline.ttf");
}


div {
	display:block;
	position: relative;
}

h1 {
	font:5em 'Display';
	color:rgba(203,169,141,1);
	margin-left:.5em;
}

h1::before {
	position:absolute;
	top:0;
	left:0;
	margin-left:.5em;
	content: attr(text);
	font-family:'Two';
	color:rgba(1,169,206,0.5);
}

h1::after {
	position:absolute;
	top:0;
	left:0;
	margin-left:.5em;
	content: attr(text);
	font-family:'Three';
	color: rgba(123,125,137,0.5);
}
