
@font-face {

	font-family: 'Regular';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldCoarse.otf');
}

@font-face {

	font-family: 'One';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldExtrude.otf');
}

@font-face {

	font-family: 'Two';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldShadow.otf');
}

@font-face {

	font-family: 'Three';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldShadow.otf');
}

@font-face {

	font-family: 'Display';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldFace.otf');
}

@font-face {

	font-family: 'Inline';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldInline.otf');
}



}
div {
	display:block;
	position: relative;
}

h1 {
	font:5em 'Display';
	color:rgba(203,169,141,1);
	margin-left:.5em;
}

h1::before {
	position:absolute;
	/*top:0; */
	left:0;
	margin-left:.5em;
	content: attr(text);
	font-family:'Two';
	color:rgba(1,169,206,0.5);
}

h1::after {
	position:absolute;
	/*top:0; */
	left:0;
	margin-left:.5em;
	content: attr(text);
	font-family:'Three';
	color: rgba(123,125,137,0.5);
}
